{% extends 'base.html' %}
{% block content %} 
<div class="content">
<strong class="d-lg-block d-none end-0 bottom-0 w-50 position-absolute">IMAGE PLACEHOLDER</strong>
<div class="brandStatement top-50 w-50 position-absolute">
    <p>Maybe we better talk out here; the observation lounge has turned into a swamp. Computer, lights up! The look in your eyes, I recognize it. You used to have it for me. They were just sucked into space. Smooth as an android's bottom, eh, Data? Now, how the hell do we defeat an enemy that knows us better than we know ourselves? You did exactly what you had to do. You considered all your options, you tried every alternative and then you made the hard choice. That might've been one of the shortest assignments in the history of Starfleet. I can't. As much as I care about you, my first duty is to the ship. Fate protects fools, little children and ships named Enterprise. Well, that's certainly good to know. I recommend you don't fire until you're within 40,000 kilometers. Wait a minute - you've been declared dead. You can't give orders around here.</p>
</div>
</div>

{% endblock %}